.dashboard-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.adoptable-dogs-wrapper {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    overflow: auto;
    border: 2px solid black;
}

@media screen and (max-width: 390px) {
    .adoptable-dogs-wrapper {
        max-width: 85vw;
    }
}
