#notifications-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1060;
  width: 320px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 3px solid black;
}

.custom-toast-container {
  position: relative !important;
  width: 100%;
  pointer-events: auto;
}

.custom-toast-container > div {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #notifications-container {
    top: 1rem;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 360px;
  }
}
