.notifications-container {
  position: fixed;
  bottom: 0.25rem;
  right: 1rem;
  z-index: 1060;
  width: 320px;
  max-height: 40vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 3px solid black;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notifications-container-hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  border: none;
}

.notifications-container-hidden {
  display: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.btn-close:hover {
  cursor: url('/assets/paw-cursor-hover.png'), pointer;
}

.custom-toast-container {
  position: relative !important;
  width: 100%;
  pointer-events: auto;
}

.custom-toast-container > div {
  margin-bottom: 1rem;
}

.toast-success {
  background: var(--gradient-success);
  color: #1b5e20;
}

.toast-info {
  background: var(--gradient-info);
  color: #004d40;
}

.toast-warm {
  background: var(--gradient-warm);
  color: #bf360c;
}

.toast-error {
  background: var(--gradient-error);
  color: #b71c1c;
}

.toast-dark {
  background: var(--gradient-dark);
  color: #e0f7fa;
}

.toast-sunset {
  background: var(--gradient-sunset);
  color: #4e342e;
}

.custom-toast {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  font-weight: 500;
  backdrop-filter: blur(3px);
}

@media (max-width: 768px) {
  #notifications-container {
    top: 4.5rem;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 360px;
    max-height: 40vh;
  }

  @media (max-width: 390px) {
    #notifications-container {
      top: 5rem;
      bottom: auto;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      width: 90vw;
      max-width: 360px;
      max-height: 40vh;
    }
  }
}
