.slideout-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background-color: #efc65d;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out;
  z-index: 2000;
  padding: 2rem;
}

.slideout-menu img {
  width: 15%;
  height: 5%;
}

.slideout-menu img:hover {
  cursor: url('/assets/select-cursor-image.png'), pointer;
}

.slideout-menu.open {
  right: 0;
}

.slideout-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slideout-menu li {
  flex: 1;
  transition: all 0.5s ease-out;
  margin-bottom: 1.5rem;
}

.slideout-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  padding: 0.75rem;
}

.slideout-menu a:hover,
.slideout-menu a:focus {
  background-color: #abd3db;
  color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

#menu-close-button-container {
  position: relative;
  display: flex;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 25%;
  transform: translateX(-50%);
  z-index: 10;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#menu-close-button-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.menu-close-icon {
  transition: transform 0.3s ease;
}

.menu-close-icon:hover {
  animation: wiggle 0.4s ease-in-out;
}

@media screen and (min-width: 1440px) {
  .slideout-menu img {
    width: 10%;
    height: 8%;
  }

  .tooltip-text {
    top: 20px;
    left: 15%;
  }
}

@media screen and (max-width: 390px) {
  .slideout-menu img {
    width: 25%;
    height: 5%;
  }

  .tooltip-text {
    top: 10px;
    left: 45%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu-close-icon:hover {
    animation: wiggle 0.5s ease-in-out;
  }
}
