#delete-notification-button-container {
  padding-bottom: 1rem;
}

#delete-button {
  width: 55%;
}

#delete-button:hover {
  cursor: url('/assets/paw-cursor-hover.cur'), pointer;
}

img.rounded.me-2 {
  width: 20px;
  height: 20px;
}

.text-muted {
  white-space: pre-line;
  text-align: center;
}
