#delete-notification-button-container {
  padding-bottom: 1rem;
}

#delete-button:hover {
  cursor: url('/assets/select-cursor-image.png'), pointer;
}

img.rounded.me-2 {
  width: 20px;
  height: 20px;
}
