img {
  width: 10%;
  height: 10%;
}

img:hover {
  cursor: url('assets/paw-cursor-hover.png'), pointer;
}

.disabled-notifications-img:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 390px) {
  img {
    width: 35%;
    height: 35%;
  }
}
