img {
  width: 20%;
  height: 20%;
}

img:hover {
  cursor: url('/assets/select-cursor-image.png'), pointer;
}

.disabled-notifications-img:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 390px) {
  img {
    width: 35%;
    height: 35%;
  }
}
