.dog-name {
  font-size: larger;
  font-weight: bold;
}

#custom-dog-card {
  background-color: #feb057;
  color: #001858;
  width: fit-content;
  border: 3px solid blue;
}

.card-image {
  width: 100%;
  height: 70%;
}

.dog-name-title {
  display: flex;
  justify-content: center;
}

.card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.favorite-button {
  width: 50%;
  border-radius: 10px;
}

.card-button-container button:hover {
  cursor: url('/assets/paw-cursor-hover.cur'), pointer;
}

@media screen and (max-width: 390px) {
  .card-button-container {
    height: 25%;
  }
}
