.hero-section {
  background: linear-gradient(135deg, #fff3e0 0%, #fafafa 100%);
  padding: 4rem 1rem;
  text-align: center;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-radius: 10px;
  border: 2px solid black;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero-tagline {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  margin-bottom: 2rem;
}

.hero-button {
  background-color: var(--color-accent);
  color: var(--color-surface);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  cursor: url('assets/select-cursor-image.png'), pointer;
  background-color: var(--color-accent-dark);
}
